.header {
  font-size: 20px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 30px;
}

.header h1 {
  font-size: 50px;
  padding: 10px;
  text-align: left;
}

.header h3 {
  font-size: 40px;
  padding: 10px;
  text-align: left;
}

.btn {
  background-color: darkorchid;
  padding: 10px;
  margin-top: 100px;
  border-radius: 20px;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  align-items: center;
}

.header h2 {
  font-size: 4em;
}

.header h3 {
  font-size: 3em;
  font-weight: 400;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: #D42990;
  padding: 10px 16px;
  border-radius: 10px;
  margin-top: 20px;
  font-weight: 500;
}

.box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  /* border: 1px solid black; */
  width: 100%;
  margin-top: 100px;
  margin: auto;
  background-color: rgba(146,43,225,1) 50%;
}

.box-1 {
  background-color: cornsilk;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 10px auto;
}
/* ------ */
.box-1>img {
  height: 100px;
  width: 100px;
  margin: 10px auto;
}

.box-1>h2 {
  color: black;
}

.box-1>p {
  color: black;
}
/* -------- */

.box-2 {
  background-color: cornsilk;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 10px auto;
}
.box-2>img {
  height: 100px;
  width: 100px;
  margin: 10px auto;
}
.box-2>h2 {
  color: black;
}

.box-2>p {
  color: black;
}
/* ------- */
.box-3 {
  background-color: cornsilk;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 10px auto;
}
.box-3>img {
  height: 100px;
  width: 100px;
  margin: 10px auto;
}
.box-3>h2 {
  color: black;
}

.box-3>p {
  color: black;
}

/* ----- */
.box-4{
  background-color: cornsilk;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 10px auto;
}
.box-4>img {
  height: 100px;
  width: 100px;
  margin: 10px auto;
}
.box-4>h2 {
  color: black;
}

.box-4>p {
  color: black;
}
/* ------ */
.box-5{
  background-color: cornsilk;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 10px auto;
}
.box-5>img {
  height: 100px;
  width: 100px;
  margin: 10px auto;
}
.box-5>h2 {
  color: black;
}

.box-5>p {
  color: black;
}
/* ------ */
.box-6{
  background-color: cornsilk;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 10px auto;
}
.box-6>img {
  height: 100px;
  width: 100px;
  margin: 10px auto;
}
.box-6>h2 {
  color: black;
}

.box-6>p {
  color: black;
}
/* ----- */